html, body{
    height: 100%;
}

.cust-mw-100{
    width: 100%;
}

.pdiv-resize{
    min-width: 100%;;
    min-height: auto;
}

#wrap{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 150px;
}

img{
    max-width: 250px;
    max-height: auto;
}

.footer{
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
    visibility: hidden;
}